#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  margin-bottom: 1650px;

}



.site-home-header{
  background-color: black;
  height: 80%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

}

.div-background{
  margin: 4%;
}

img{

  width: 150px;
  height: 150px;
  border-radius: 60%;
  overflow: hidden;
 

}
h1{
color: white;
font-family:'Lato';
margin-bottom: 0%;

}
p{
  color: #818189;
  margin: 24px auto 0;
  text-align: center;
  max-width: 500px;
}

.spanfraseLogo{
  color: white;
}
.site-nav {

margin: 4%;
background-color: rgb(2, 2, 2);
margin-left: 16%;
display: flex;
justify-content:baseline; 


}





.linkblog{
  color: #26a8ed;
}

.btn{
  font: normal normal normal 12px/18px 'Helvetica Neue',Arial,sans-serif;
  user-select: none;
  white-space: nowrap;
  text-align: left;
  outline: 0;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  position: relative;
  height: 20px;
  box-sizing: border-box;
  
  background-color: black;
  color: white;
  border-radius: 9999px;
  font-weight: 500;
  cursor: pointer;
  
}


.label{
  font: normal normal normal 12px/18px 'Helvetica Neue',Arial,sans-serif;
  user-select: none;
  text-align: left;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    margin-left: 10px;
    white-space: nowrap;
    border-radius: 9999px;
    padding: 1px 20px 1px 20px;
    transition: background-color 0.3s ease;
    background: transparent 0 0 no-repeat;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg viewBox='0 0 40 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='32' height='32' fill='none'/%3E%3Cpath d='M17.9686 14.1623L26.7065 4H24.6358L17.0488 12.8238L10.9891 4H4L13.1634 17.3432L4 28H6.07069L14.0827 18.6817L20.4822 28H27.4714L17.9681 14.1623H17.9686ZM15.1326 17.4607L14.2041 16.132L6.81679 5.55961H9.99723L15.9589 14.0919L16.8873 15.4206L24.6368 26.5113H21.4564L15.1326 17.4612V17.4607Z' fill='white'/%3E%3C/svg%3E%0A");
    &:hover{
      background-color: #5e636e;
      color: #fff;
      padding: 1px 20px 1px 20px;
     
    }
}


.site-nav-logo , .nav-home a{
  margin-right: 30px;
  color: white;

 
  text-decoration: none;
 
  text-decoration-color:white ;
  
}




.site-nav-left{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}


  


.site-nav-content ul{
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
 
  
}

.site-nav-content  li{
  display: inline-block;
 color: white;
  

}




@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
